<h4>Monday: David Anointed King</h4>
<h5>People judge each other by what’s on the outside, but God knows our hearts.</h5>
<video id="day1" class="video-js vjs-default-skin" preload="auto" controls="" width="700" height="393" >
	<source src="/vid/day1.webm" type='video/webm' />
	<source src="/vid/Day 1.mp4" type='video/mp4' />
</video>
<blockquote>
<p>The Lord doesn’t see things the way you see them. People judge by outward appearance, but the Lord looks at the heart.”
</p>
1 Samuel 16:7
</blockquote>

<h4>Tuesday: David Fights Goliath</h4>
<h5>God is bigger than any giant problem we face.</h5>
<video id="day2" class="video-js vjs-default-skin" preload="auto" controls="" width="700" height="393">
	<source src="/vid/day2.webm" type='video/webm' />
	<source src="/vid/Day 2.mp4" type='video/mp4' />
</video>
<blockquote>
<p>But Jesus looked at them and said to them, “With men this is impossible, but with God all things are possible.”
</p>
Matthew 19:26
</blockquote>

<h4>Wednesday: David in the Palace</h4>
<h5>Good friends stick together through thick and thin.</h5>
<video id="day3" class="video-js vjs-default-skin" preload="auto" controls="" width="700" height="393">
	<source src="/vid/day3.webm" type='video/webm' />
	<source src="/vid/Day 3.mp4" type='video/mp4' />
</video>
<blockquote>
<p>A man who has friends must himself be friendly,
But there is a friend who sticks closer than a brother.
</p>
Proverbs 18:24 nkjv
</blockquote>

<h4>Thursday: David on the Run</h4>
<h5>We can trust God to lead us through anything.</h5>
<video id="day4" class="video-js vjs-default-skin" preload="auto" controls="" width="700" height="393">
	<source src="/vid/day4.webm" type='video/webm' />
	<source src="/vid/Day 4.mp4" type='video/mp4' />
</video>
<blockquote>
<p>Trust in the Lord with all your heart; do not depend on your own understanding.
Seek his will in all you do, and he will show you which path to take.
</p>
Proverbs 3:5,6
</blockquote>
<h4>Friday: David Finally Crowned King</h4>
<h5>Living God’s way is worth it in the end.</h5>
<video id="day5" class="video-js vjs-default-skin" preload="auto" controls="" width="700" height="393">
	<source src="/vid/day5.webm" type='video/webm' />
	<source src="/vid/Day 5.mp4" type='video/mp4' />
</video>
<blockquote>
<p>God’s way is perfect.
All the Lord’s promises prove true.
He is a shield for all who look to him for protection.
</p>
Psalm 18:30
</blockquote>