<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

  <!-- Basic Page Needs
  ================================================== -->
  <meta charset="utf-8">
  <title>A Personal Blog for Timothy Inman</title>
  <meta name="description" content="">
  <meta name="author" content="Tim Inman">

  <!-- Mobile Specific Metas
  ================================================== -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- CSS
  ================================================== -->
  <link rel="stylesheet" href="/css/base.css">
  <link rel="stylesheet" href="/css/skeleton.css">
  <link rel="stylesheet" href="/css/layout.css">
  <link rel="stylesheet" href="/css/main.css">
  <link href='http://fonts.googleapis.com/css?family=Arvo:400|Ubuntu:500' rel='stylesheet' type='text/css'>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <script type="text/javascript" src="/js/resize.js"></script>
</head>
    <body>
        <div class="container">
          <div class="three columns sidebar">
            <nav>
              <br>
              <a href="/"><p class=''><img src="/img/meCircle.png" alt="circle-cut photo of tim inman"></p></a>
              <h3>Tim Inman</h3>
              <br>
              <p class='bio'>Married to <a href="http://instagram.com/p/aB22UVF5OG/">Lauri</a>. Father of 5. Transplanted from California to N. Ireland. Serving <a href="http://cornerstonecity.eu">Cornerstone</a> City Church and <a href="http://www.agireland.org/">AGI</a>. I like storytelling and making things.</p>
              <br>
              <p class="socialReferrers">
                <a href="http://instagram.com/timinman" alt="On Instagram"><img src="/img/instagram.png"></a>
                <a href="http://facebook.com/timinman/"><img src="/img/facebook.png" alt="On Facebook"></a>
                <a href="http://twitter.com/timinman/"><img src="/img/twitter.png" alt="On Twitter"></a>
                <a href="http://github.com/thehack/"><img src="/img/github.png" alt="On Github"></a>
              </p>
              <div class="contact">
                <p>
                  <a href="mailto:tim.inman@gmail.com">tim.inman@gmail.com</a>
                </p>
              </div>
              </nav>
              &nbsp;
          </div>
          <div class="eleven columns offset-by-two content">
            <br>
            {{ content }}
          </div>
          
            <div class="footer">
              
            </div>
          </div>
        </div> <!-- /container -->

    </body>
</html>
