<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

  <!-- Basic Page Needs
  ================================================== -->
  <meta charset="utf-8">
  <title>Tim Inman - Thoughts, Ideas, &amp; General Show and Tell</title>
  <meta name="description" content="">
  <meta name="author" content="Tim Inman">

  <!-- Mobile Specific Metas
  ================================================== -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- CSS
  ================================================== -->
  <link rel="stylesheet" href="/css/base.css">
  <link rel="stylesheet" href="/css/skeleton.css">
  <link rel="stylesheet" href="/css/layout.css">
  <link rel="stylesheet" href="/css/main.css">
  <link href='http://fonts.googleapis.com/css?family=Arvo:400|Ubuntu:500' rel='stylesheet' type='text/css'>
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">


  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <script type="text/javascript" src="/js/resize.js"></script>
</head>
    <body>
        <div class="container">
          <div class="three columns sidebar">
            <nav>
			<br>
              <a href="/"><p class=''><img src="/img/tim.jpg" alt="circle-cut photo of tim inman"></p></a>
              <h3><a href='/'>Tim Inman</a></h3>
              <p class='bio'>Married to <a href="http://instagram.com/p/aB22UVF5OG/">Lauri</a>. Father of 5. Transplanted to N. Ireland. Serving <a href="http://cornerstonecity.eu">Cornerstone</a> City Church and <a href="http://www.agireland.org/">AGI</a>. I like storytelling and making stuff.</p>
              <p class="socialReferrers">
                <a href="http://instagram.com/timinman"><i class="icon-camera-retro icon-large"></i></a>
                <a href="http://facebook.com/timinman/"><i class="icon-facebook-sign icon-large"></i></a>
                <a href="http://twitter.com/timinman/"><i class="icon-twitter-sign icon-large"></i></a>
                <a href="http://github.com/thehack/"><i class="icon-github-sign icon-large"></i></a>
		<a href="mailto:tim.inman@gmail.com"><i class="icon-envelope-alt icon-large"></i></a>
              </p>
              </nav>
              &nbsp;
          </div>
          <div  class="twelve columns offset-by-one content">
            <br>
            {{ content }}
          </div>

            <div class="footer">
              
            </div>
          </div>
        </div> <!-- /container -->

    </body>
</html>
